<h2><%= @post.title %> <%= link_to "(edit)", edit_post_path(@post) %></h2>
<h4><%= @post.author %></h4>

<p><%= @post.text %></p>

<!-- <h3>Songs <a href="/songs/new">(+)</a></h3> -->

<!-- Comments go HERE -->

<!-- <ul>
  <% @artist.songs.each do |song| %>
    <li>
    	<%= link_to "#{song.title} #{song.album}", song %>
    </li>
  <% end %>
</ul> -->
