<!DOCTYPE html>
<html>

<head>
    <title>Scribble</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
    <a href="/"><h1>Rails Blog</h1></a>
    <nav>
        <%= link_to "Posts", posts_path() %>
    </nav>
    <%= yield %>
</body>

</html>

