<!DOCTYPE html>
<html>

<head>
    <title>Scribble</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
            <%= csrf_meta_tags %>
</head>

<body>
    <h1><a href="/" class="header">Two Different Ideas</a></h1>
    <nav>
    <% if session[:user] %>
        <%= session[:user]["username"] %>: <a href="/sign_out">sign out</a></h2>
    <% else %>
        <a href="/sign_up">Sign up</a></h2>
        <a href="/sign_in">Sign in</a></h2>
    <% end %>
    </nav>
    <h2><%= flash[:notice] %></h2>
    <%= yield %>
</body>

</html>

